<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".TicTacToeApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.TicTacToe">

        <activity
            android:name=".presentation.games.GamesActivity"
            android:exported="false" />

        <activity
            android:name=".presentation.auth.SignUpActivity"
            android:exported="false" />

        <activity
            android:name=".presentation.auth.SignInActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".presentation.create.CreateGameActivity"
            android:exported="true" />

    </application>

</manifest>
